<%# <p>This is the index</p> %>

<% @chairs.each do |chair| %>
  <p><b>id:</b> <a href="/chairs/<%= chair.id %>"><%= chair.id %></a></p>
  <p> color: <%=chair.color%></p>
  <p> style: <%=chair.style%></p>
  <p> image_url: <img src= "<%=chair.image_url%>" width="200" ></p>
  <p> </p>
<% end %>